* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container  {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 75px;
  padding-right: 75px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  /* margin-top: 0; */
  margin: 0 auto;
}

.btn {
  display: flex;
  width: 280px;
  height: 78px;
  padding: 18.571px 37.142px;
  justify-content: center;
  align-items: center;
  background: #F90;
  flex-shrink: 0;

  color: #FFF;
  text-align: center;
  font-size: 23.458px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

/* Header */

.header__container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFF;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);
}

.hader__logo {
  display: flex;
  width: 224px;
  height: 72px;
  justify-content: center;
  align-items: center;
  gap: 12.163px;
  flex-shrink: 0;
}

.header__nav-list {
  display: flex;
}

.header__nav-item:not(:last-child) {
  margin-right: 85px;
}

.header__nav-link {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header__search {
  margin-right: 75px;
}

/* Section-hero */

.section-hero {
  background: url('img/hero_image.jpg') center center no-repeat;
}

.section-hero__container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-hero__content {
  max-width: 837px;
  margin-left: 80px;
}

.section-hero__heading {
  color: #FFF;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.section-hero__description {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 90px;
}

/* About us */
.section-about {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-about__heading {
  color: #333;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-about__description {
  width: 1235px;
  padding-top: 20px;
  padding-bottom: 50px;
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-about__content {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 32px;
}

.section-about__content__builder{
  width: 868px;
  height: 622px;
  flex-shrink: 0;
  grid-row: span 2;
  background: url("img/about_us_builder.jpg");
  position: relative;
}

.section-about__content__builder-context {
  display: flex;
  align-items: center;
  width: 868px;
  height: 196px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.50);
  z-index: 1;
  padding-left: 50px;
}

.section-about__content__builder-btn {
  display: inline-flex;
  height: 60px;
  padding: 19px 38px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 3px solid #F90;

  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }

.section-about__content__builder-descroption {
  width: 454px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 200% */
  margin-right: 139px;
}

.section-about__content-consult,
.section-about__content-raise {
  display: flex;
  width: 870px;
  height: 295px;
  background-color: #FFF;
  border: 1px solid #CACACA;
  padding-top: 65px;
  padding-left: 60px;
}

.section-about__images-top {
  display: flex;
  width: 190px;
  height: 165px;
  margin-right: 50px;
  background-image: url("img/about_us_images.svg");
}

.section-about__images-down {
  display: flex;
  width: 190px;
  height: 165px;
  margin-right: 50px;
  background-image: url("img/about_us_images_down.svg");
}

.section-about__text {
  width: 450px;
}

.section-about__text-heading {
  color: #333;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
