* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container  {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 75px;
  padding-right: 75px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  /* margin-top: 0; */
  margin: 0;
}

h2  {
  margin: 0 auto;
}

.btn {
  display: flex;
  width: 280px;
  height: 78px;
  padding: 18.571px 37.142px;
  justify-content: center;
  align-items: center;
  background: #F90;
  flex-shrink: 0;

  color: #FFF;
  text-align: center;
  font-size: 23.458px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

/* Header */

.header__container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFF;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);
}

.hader__logo {
  display: flex;
  width: 224px;
  height: 72px;
  justify-content: center;
  align-items: center;
  gap: 12.163px;
  flex-shrink: 0;
}
.header__nav {
  margin-left: auto;
}

.header__nav-list {
  display: flex
}

.header__nav-item:not(:last-child) {
  margin-right: 85px;
}

.header__nav-link {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header__search {
  width: 24px;
  height: 24px;
  background-image: url("img/header_search_svg.svg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  border: none;
  background-color: #FFF;
  margin-left: 85px;
}

/* Section-hero */

.section-hero {
  background: url('img/hero_image.jpg') center center no-repeat;
}

.section-hero__container {

}

.section-hero__content {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 80px;
}

.section-hero__heading {
  max-width: 837px;
  color: #FFF;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.section-hero__description {
  max-width: 790px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 90px;
}

/* About us */
.section-about {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-about__heading {
  color: #333;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-about__description {
  max-width: 1235px;
  padding-top: 20px;
  padding-bottom: 50px;
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-about__content {
  /* display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 32px; */
  display: flex;
  gap: 32px;
  
}

.section-about__content__builder {
  display: flex;
  width: 868px;
  height: 622px;
  flex-shrink: 0;
  background: url("img/about_us_builder.jpg") no-repeat;
  position: relative;
}

.section-about__content__builder-context {
  display: flex;
  align-items: center;
  width: 868px;
  height: 196px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.50);
  z-index: 1;
  padding-left: 50px;
}

.section-about__content__builder-btn {
  display: inline-flex;
  height: 60px;
  padding: 19px 38px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 3px solid #F90;

  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }

.section-about__content__builder-descroption {
  max-width: 454px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 200% */
  margin-right: 139px;
}

.section-about__content-blocks {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.section-about__content-consult,
.section-about__content-raise {
  display: flex;
  width: 870px;
  height: 295px;
  background-color: #FFF;
  border: 1px solid #CACACA;
  padding-top: 65px;
  padding-left: 60px;
}

.section-about__images-top {
  display: flex;
  width: 190px;
  height: 165px;
  margin-right: 50px;
  background-image: url("img/about_us_images.svg");
}

.section-about__images-down {
  display: flex;
  width: 190px;
  height: 165px;
  margin-right: 50px;
  background-image: url("img/about_us_images_down.svg");
}

.section-about__text {
  width: 450px;
}

.section-about__text-heading {
  color: #333;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* section-Work */
.section-work {
  padding-bottom: 100px;
}

.section-work__container {
  display: flex;
  justify-content: space-between;
}

.section-work__heading {
  color: #333;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transform: translateX(-4px);
}

.section-work__steps {
  display: flex;
  padding-top: 50px;
  padding-bottom: 45px;
}

.section-work__steps-item:not(:last-child) {
  margin-right: 85px;
}

.section-work__steps-item {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-work__steps-item:active {
  color: #E1670E;
}

.section-work__image {
  min-width: 870px;
  min-height: 460px;
  margin-top: 186px;
  background-image: url("img/work_image.jpg");
  background-size: cover;
}

.section-work__description {
  max-width: 758px;

  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}

.section-work__button-min {
  display: inline-flex;
  height: 60px;
  padding: 19px 38px;
  align-items: center;
  gap: 10px;
  background: #F90;
  flex-shrink: 0;

  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 50px;
  margin-right: 32px;
}

.section-work__button-black {
  display: inline-flex;
  height: 60px;
  padding: 19px 38px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid #333;


  color: #333;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Questions */
.section-questions {
  padding-bottom: 100px;
}

.section-questions__heading {
  color: #333;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 32px;
}

.section-questions__list {
  display: flex;
  flex-direction: column;
}

.section-questions__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  padding-top: 40px;
  padding-bottom: 40px;

  color: #333;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  position: relative;
}

/* Footer */
.footer {
  height: 594px;
  background-color: #222;
}

.footer-container {
  display: flex;
  justify-content: space-between ;
}

.footer__left {
  padding-top: 50px;
}

.footer__logo {
  display: flex;
  width: 224px;
  height: 72px;
  justify-content: center;
  align-items: center;
  gap: 12.163px;
  flex-shrink: 0;
}

.footer__list {
  padding-top: 20px;
}

.footer__link {
  color: #CACACA;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 200% */
}

.footer__icons {
  padding-top: 90px;
  display: inline-flex;
  align-items: center;
  gap: 25px;
}

.footer__icon-link {
  color: #7C7C7C;
}

.footer__middle {
  width: 570px;
  padding-top: 50px;
}

.form__title {
  color: #CACACA;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input {
  width: 100%;
  height: 60px;
  background-color: #414141;
  border: none;

  color: #CACACA;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */

  padding: 14px 0px 14px 24px;
}

.form__field {
  margin-top: 25px;
}

.form__label {
  display: block;
  position: relative;
}

::placeholder{
  color: red;
}

.form__name {
  position: absolute;
  top: 14px;
  left: 24px;
  color: #CACACA;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}

.form__input-big {
  height: 150px;
}

.footer__right {
  max-width: 363px;
  margin-right: 75px;
}

.footer__right-text {
  padding-top: 139px;
  color: #CACACA;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}

.form__underform {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  gap: 20px;
}

.form__btn {
  display: flex;
  width: 269px;
  height: 58px;
  padding: 19px 38px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #F90;
  border: none;
  color: #FFF;
  font-family: Montserrat;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

input[type="checkbox"] {
  display: none ;
}

.form__checkbox {
  margin: 0;
} 

.form__text {
  color: #CACACA;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}

.form__text::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 2px solid white;
  vertical-align: middle;
  margin-right: 4px;
}

input[type="checkbox"]:checked + label::before {
  background-image: url("img/Check_forn.svg");
}

@media (max-width: 1024px) {
  .header__nav-list {
    display: none;
  }
  
  .section-about__content {
    flex-direction: column;
  }

  .section-about__description {
    /* width: 925px; */
  }

  .section-about__content__builder {
    /* width: 925px; */
  }
  /* .burger {
    display: block;
    margin-right: 30px;
  }

  .section-hero__content {
    padding: 50px;
  } */
}

/* @media (max-width: 1366px) {
  .section-hero__heading {
    max-width: none;
  }

  .section-hero__description {
    max-width: none;
  }
}

@media (max-width: 992px) {
  .header__nav-list {
    display: none;
  }

  .burger {
    display: block;
    margin-right: 30px;
  }

  .section-hero__content {
    padding: 50px;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
  .header__search {
    display: none;
  }
} */