* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container  {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 75px;
  padding-right: 75px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  /* margin-top: 0; */
  margin: 0 auto;
}

.btn {
  display: flex;
  width: 280px;
  height: 78px;
  padding: 18.571px 37.142px;
  justify-content: center;
  align-items: center;
  background: #F90;
  flex-shrink: 0;

  color: #FFF;
  text-align: center;
  font-size: 23.458px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

/* Header */

.header__container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFF;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);
}

.hader__logo {
  display: flex;
  width: 224px;
  height: 72px;
  justify-content: center;
  align-items: center;
  gap: 12.163px;
  flex-shrink: 0;
}

.header__nav-list {
  display: flex;
}

.header__nav-item:not(:last-child) {
  margin-right: 85px;
}

.header__nav-link {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header__search {
  margin-right: 75px;
}

/* Section-hero */

.section-hero {
  background: url('img/hero_image.jpg') center center no-repeat;
}

.section-hero__container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-hero__content {
  max-width: 837px;
  margin-left: 80px;
}

.section-hero__heading {
  color: #FFF;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.section-hero__description {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 90px;
}
