* {
  box-sizing: border-box;
}

h1 {
  padding-left: 45px;
}
body {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  background: #F1F1F1;
}

html {
  font-family: sans-serif;
}

.header {
  height: 154px;
}
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Header */

.header-container {
  width: 1170px;
  height: 100%;
}

.header-l-r {
  display: flex;
  justify-content: space-between;
  margin-top: 47px;
  margin-bottom: 30px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-contacts-link {
  margin-left: 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 70px;
  border-radius: 15px;
  background: #FFF;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 45px;
  flex-shrink: 0;
}

.nav-item:not(:last-child) {
  margin-right: 45px;
}

.tour-ring {
  display: flex;
  margin-right: 45px;
  padding: 14px 0 14px 0;
}

.nav-item-btn:not(:last-child) {
  margin-right: 40px;
}

.nav-item-btn {
  display: inline-flex;
  padding: 13px 20px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #C93;
}

.nav-link-btn {
  color: #C93;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* Section land */
.special-container {
  margin-top: 70px;
}

.section-land-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-2-lands {
  display: flex;
  flex-direction: column;
}

.about-us {
  width: 888px;
  height: 252px;
  margin-top: 70px;
}

.about-us-hading {
  color: #333;
  font-family: Muller;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-us-description {
  color: #000;
  font-family: Muller;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%; /* 32px */
}

/* Services */
.services {
  margin-top: 70px;
}

.services-list {
  display: grid;
  grid-template: repeat(2, 100px) / repeat(2, 1fr);
  gap: 30px;
}

.services-item {
  width: 402px;
  height: 64px;
}

.services-item a{
  color: #C93;
  font-family: Muller;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%; /* 40px */
}

/* Advantages */
.advantages {
  margin-top: 70px;
}

.advantage-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.advantage-item {
width: 276px;
}

.accomodation-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.accomodation-item {
  width: 374px;
  height: 440px;
}

.numbers {
  display: inline-flex;
  padding: 13px 20px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #C93;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('.../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
